html {
  font-family: 'Noto Sans KR', sans-serif;
  word-break: keep-all;
}

body {
  line-height: 1.4;
  background-color: var(--body-background-color);
  color: var(--body-text-color);
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}
