:root {
  --black: hsl(0, 0%, 0%);
  --gray-800: hsl(0, 0%, 15%);
  --gray-400: hsl(0, 0%, 45%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-100: hsl(0, 0%, 86%);
  --gray-50: hsl(0, 0%, 95%);
  --white: hsl(0, 0%, 100%);
  --blue-500: hsl(210, 78%, 40%);
  --blue-400: hsl(210, 79%, 50%);
  --blue-300: hsl(210, 79%, 70%);
  --blue-100: hsl(210, 19%, 88%);
  --red: hsl(0, 100%, 50%);
  --mint-200: hsl(170, 19%, 88%);
  --mint-100: hsl(170, 30%, 96%);
  --mint-50: hsl(170, 17%, 98%);
  --orange: hsl(35, 100%, 50%);
}

:root[data-color-mode='light'] {
  --body-text-color: var(--gray-800);
  --body-background-color: var(--white);
  --layout-background-color: var(--mint-200);
  --modal-background-color: var(--gray-400);
  --link-focused-border-color: var(--black);
  --tooltip-background-color: var(--black);
  --tooltip-text-color: var(--white);

  --input-border-color: var(--gray-200);
  --input-focused-border-color: var(--gray-400);
  --input-background-color: var(--white);
  --input-label-color: var(--gray-400);
  --error-color: var(--red);

  --button-focused-border-color: var(--black);
  --button-background-color: var(--blue-400);
  --button-active-background-color: var(--blue-500);
  --button-disabled-background-color: var(--blue-300);
  --button-text-color: var(--white);

  --header-border-color: var(--gray-100);
  --header-background-color: var(--white);
  --logo-color: var(--black);
  --search-box--background-color: var(--mint-100);

  --post-border-color: var(--gray-200);
  --post-focused-border-color: var(--gray-400);
  --post-second-text-color: var(--gray-400);
  --post-top-panel-background-color: var(--gray-800);
  --post-top-panel-hover-background-color: var(--gray-400);
  --post-top-panel-text-color: var(--mint-50);
  --post-background-color: var(--white);
  --post-left-panel-background-color: var(--mint-50);
  --post-clicked-icon-color: var(--orange);
  --post-icon-hover-background-color: var(--gray-100);
}
